.pageContainer{
    background-color: white;
    padding-left: 300px;
    display: block;
    width: 100%;
    height: auto;
    overflow: auto;
}

nav .brand-logo {
    left: 25%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

nav {
    background: linear-gradient(0.25turn, #f7c41d, #e9a43c, #a83a07);
    border-bottom: solid 10px #6b0101;
}
.navBar{
    background-color: lightgrey;
    border-top: solid black 8px;
    border-bottom: solid rgb(102, 102, 102) 4px;
}

.navLi{
    padding: 5px 15px;
}
  
body {   
    background-color: grey;
}

.logMeIn {
    margin: 30px auto;
    background-color: whitesmoke;
    padding: 20px;
    width: 50%;
    position: relative;
    top: 100px;
}

.sidenavBar {
    height: auto;
    width: 200px;
    position: relative;
    z-index: 1;  
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 10px;
  }
  
.sidenavBar a {
padding: 7px 7px 7px 32px;
text-decoration: none;
font-size: 25px;
color: #3b3b3b;
display: block;
}

.sidenav-main{
    padding-top: 50px;
}

.sidenavBar a:hover {
color: #979494;
}

.aTitle {
    color: rgb(97, 3, 3);
    font-size: 30px;
    font-weight: 700;
    background-color: lightgray
    
}

.examHead {
    background: linear-gradient(0.45turn,#e9a43c, rgb(138, 1, 1), #1b0900);
    color: lightgray;
    width: 100%;
    text-align: center;
    margin: 20px 0px 30px 0px;
    padding: 10px;
    width: auto;
    font-family: 'Lato', sans-serif;
}
h3 {
    font-family: 'Roboto', sans-serif;
}

.container {
    background-color: white;
    margin: 0;
    width: 100%;
    padding: 0px 0px 40px 0px;
}

.container2 {
    background-color: white;
    margin: 100px 15% 30px 15%;
    width: auto;
    overflow: inherit;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: #1b0900 2px 3px 5px;
}

.choice {
    margin: 10px;
}


.sectionTabh5{ 
text-align: center; 
}  
    
.sectionTab{ 
     width: 250px; /*should change this to a fixed width for more dynamic*/ 
     height: 300px;
     float: left;
     margin: 10px 20px;
     border: solid gainsboro 2px;
     box-shadow: rgb(160, 158, 158) 2px 3px 5px;
     float: left;
     transform: scaleY(1);
     color: black;
 } 

 .sectionTab h5{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
 }

 .sectionTab img {
     padding: 0px 0px 8px 0px;
     width: 100%;

 }

 .imgHidden{
     height: 120px;
     overflow: hidden;
 }

 .sectionTab:hover{ 
    width: 250px; /*should change this to a fixed width for more dynamic*/ 
    height: 300px;
    float: left;
    margin: 10px 20px;
    border: solid gainsboro 2px;
    box-shadow: rgb(124, 124, 124) 4px 5px 10px;
    float: left;
    transition: 0.2s ease-out;
    transform: scaleY(1.03);

}

#autocomplete-input {
    background-color: white;
    height: 30px;
    color: rgb(104, 103, 103);
    border-radius: 4px;
}

.brand-logo {
    margin: 35px 10px 70px 0px;
    padding: 20px;
}
.brand-logo img{
    height: 80px;
    width: auto;
    overflow: hidden;
    border-radius: 10px;
    border: 3px solid grey;
}

#logo-container{
    padding-left: 25px;
}

.sidenav {
    background: linear-gradient(#9b0303, rgb(8, 8, 8)25%,#f7f3ee 15% 80%, #666666);
    box-shadow: 1px 3px 10px rgb(151, 150, 150);
}

.bold {
    background: white;
}

.bold2 {
    padding-left: 50px;
    font-size: 13px;
    display: inline-block;
    width: 100%;
    margin: 0px;
}

.bold2:hover {
    background-color: #cccaca;
}


.sidenav li>a {
    font-size: 18px;
    font-weight: 700;
}

.input-field .prefix {
    top: 0.10rem;
}

.jumbotron-img {
    margin-top: -40px;
    width: 100%;
    padding: 0px;
}

.introHeader {
    text-align: center;
    background: linear-gradient(0.45turn,#e9a43c, #a83a07, #1b0900);
    color: white;
    width: 100%;
    margin: -5px 0px 0px 0px;
    height: 80px;
    border-top: solid 10px #6b0101;
}

.introHeader img{
    color: white;
    width: auto;
    height: 100%;
    margin: -50px 0px 0px 0px;
    border-radius: 40px 40px 10px 10px;
    border-top: solid 7px #6b0101;
}

.btn{
    background-color: #6b0101;
}

.btn:hover{
    background-color: #dd9000;
}

nav ul a.btn, nav ul a.btn-large, nav ul a.btn-small, nav ul a.btn-large, nav ul a.btn-flat, nav ul a.btn-floating {
    margin-top: -2px;
    margin-left: -5px;
    margin-right: 15px;
}

.textBody {
    margin: 0px 30px 10px 30px;
}

p {
    font-family: 'Open Sans', sans-serif;
}












/* ------------collapsible elements for links open------------ */

.collapsible {
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #e9a43c;
  }
  
  .content {
    padding: 0px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    background-color: #f1f1f1;
  }

/* ------------collapsible elements for links close------------ */


/* ------------collapsible element for TOP navigation bar open------------ */
.topnav .icon {
    display: none;
}

@media screen and (max-width: 992px) {
    .pageContainer {
        background-color: white;
        padding: 0px;
        display: block;
        transition: max-height 0.4s ease-out;
        width: 100%;
        height: auto;
        overflow: auto;
    }

    .container2 {
        background-color: white;
        margin: 100px 8% 30px 8%;
        height: auto;
        padding: 20px 40px;
    }

    .topnav ul {
        float: left;
      }
}

@media screen and (max-width: 808px){
    .sectionTab{ 
        width: 400px; /*should change this to a fixed width for more dynamic*/ 
        height: 400px;
        float: left;
        margin: 20px 20px;
        border: solid gainsboro 2px;
        box-shadow: rgb(160, 158, 158) 2px 3px 5px;
        float: left;
        transform: scaleY(0.99);
    } 

    .sectionTab:hover{ 
        width: 400px; /*should change this to a fixed width for more dynamic*/ 
        height: 400px;
        float: left;
        margin: 10px 20px;
        border: solid gainsboro 2px;
        box-shadow: rgb(124, 124, 124) 4px 5px 10px;
        float: left;
        transition: 0.4s ease-out;
        transform: scaleY(1);
    }

    .imgHidden{
        height: auto;
        overflow: hidden;
    }
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav li {
        float: right;
        display: none;
      }
    .topnav .responsive {position: relative;}
    .topnav .responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav .responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .container2 {
        background-color: white;
        margin: 100px 0px 30px 0px;
        height: auto;
        width: 100%;
        padding: 20px 10px;
    }

    .examHead {
        width:100%;
    }

    .sectionTab{ 
        width: 400px; /*should change this to a fixed width for more dynamic*/ 
        height: 400px;
        float: left;
        margin: 20px 20px;
        border: solid gainsboro 2px;
        box-shadow: rgb(160, 158, 158) 2px 3px 5px;
        float: left;
        transform: scaleY(0.99);
    } 

    .sectionTab:hover{ 
        width: 400px; /*should change this to a fixed width for more dynamic*/ 
        height: 400px;
        float: left;
        margin: 10px 20px;
        border: solid gainsboro 2px;
        box-shadow: rgb(124, 124, 124) 4px 5px 10px;
        float: left;
        transition: 0.4s ease-out;
        transform: scaleY(1);
    }

    .imgHidden{
        height: auto;
        overflow: hidden;
    }
    
  }
  
  /* ------------collapsible element for Top navigation bar close------------ */


  

